@use 'custom';
@import 'https://fonts.googleapis.com/css2?family=Lilita+One&family=Luckiest+Guy&family=Nabla:EDPT,EHLT@137,21&display=swap';

body {
    max-width: 100%;
    background-color: custom.$primary;
    font-family: 'Lilita One';
    nav {
        border-radius: 10px;
        .navbar-toggler {
            border-color: black;
        }
        .navbar-brand {
            margin-right: 15%;
            color: custom.$primary;
            &:hover {
                color: custom.$secondary;
            }
        }
        .navbar-brand , .nav-link{
            color: custom.$primary;
            font-family:'Nabla';
            border-radius: 5px;
        }
        .nav-link:hover{
            color: custom.$secondary;
            background-color: custom.$primary;
            border-radius: 5px;
        }
        .navbar-toggler {
            background-color: custom.$secondary;
            &:hover {
                background-color: custom.$primary;
            }
        }
    }
}