{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="/static/buy.css">
{% endblock %}
{% block title %}
Buy
{% endblock %}

{% block main %}
<br>
<hr>
<h6 class="text-center">ELEVATE SNACK TIME WITH FLAVOUR!</h6>
<hr>
<br>
<form action="/buy" method="post" id="form">
   <div class="contianer salty px-3 py-3">
      <div class="row">
         <div class="col-md-6"><img src="/static/salty.webp" alt="salty" class="" length="100%" width="100%"></div>
         <div class="col-md-6 text-center padding">
            <h1 class="nabla">SALTY</h1>
            <div class="marg mb-3">
               <div class="mb-3">
                  <h6>1 pack of 12</h6>
               </div>
               <input autocomplete="off" autofocus class="form-control form-control-lg mx-auto w-auto item" name="bundle salty"
                  placeholder="1 bundle x 12 packs" type="text" required>
            </div>
         </div>
      </div>
   </div>
   <br>
   <br>
   <div class="contianer hot py-3 px-3">
      <div class="row">
         <div class="col-sm-6"><img src="/static/hot.webp" alt="salty" class="" length="100%" width="100%"></div>
         <div class="col-md-6 text-center padding">
            <h1 class="nabla">HOT & SPICY</h1>
            <div class="marg mb-3">
               <div class="mb-3">
                  <h6>1 pack of 12</h6>
               </div>
               <input autocomplete="off" autofocus class="form-control form-control-lg mx-auto w-auto item" name="bundle hot"
                  placeholder="1 bundle x 12 packs" type="text" required>
            </div>
         </div>
      </div>
   </div>
   <br>
   <br>
   <div class="contianer masala py-3 px-3">
      <div class="row">
         <div class="col-sm-6"><img src="/static/masala.webp" alt="salty" class="" length="100%" width="100%"></div>
         <div class="col-md-6 text-center padding">
            <h1 class="nabla">BROAST</h1>
            <div class="marg mb-3">
               <div class="mb-3">
                  <h6>1 pack of 12</h6>
               </div>
               <input autocomplete="off" autofocus class="form-control form-control-lg mx-auto w-auto item" name="bundle broast"
                  placeholder="1 bundle x 12 packs" type="text" required>
            </div>
         </div>
      </div>
   </div>
   <br>
   <hr>
   <h3 class="text-center">Personal Details</h3>
   <hr>
   <label for="name">Name</label>
   <input id="name" autocomplete="off" autofocus class="form-control form" name="name" type="text" required>
   <br>
   <label for="address">Address</label>
   <input id="address" autocomplete="off" autofocus class="form-control form" name="address" type="text" required>
   <br>
   <label for="number">Contact Number</label>
   <input id="number" autocomplete="off" autofocus class="form-control form" name="number" type="text" required>
</form>
<hr>
<div class="justify-content-center text-center"><button class="btn btn-primary nabla btn-lg" type="submit"
      form="form">BUY</button></div>
<hr>
{% endblock %}